<!-- Modal -->

<div id="<%- modal_id %>" style="display:none;">
    <div class="topic">
        <img src="<%- exhibit.image_path %>" alt="<%- exhibit.image_alt %>">

        <p class="title"><%- exhibit.title %></p>
        <p><%- exhibit.description %></p>
    </div>
</div>