<%
var designExhibits = exhibitData[0];
var engineerExhibits = exhibitData[1];
var otherExhibits = exhibitData[2];
var topics = exhibitData[3];
%>
<!doctype html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/modaal.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="js/modaal.min.js"></script>
    <script src="js/smooth-scroll.polyfills.min.js"></script>
    <script src="js/script.js"></script>

    <link
        href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300&family=Montserrat+Alternates:wght@100;200;300;400&display=swap"
        rel="stylesheet">

    <meta property="og:url" content="https://yoichan.github.io/portfolio/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Yayoi Ito's Portfolio" />
    <meta property="og:description" content="伊藤弥生のポートフォリオサイトです。フリーランスのWebデザイナー&ITエンジニアとして活動しています。" />
    <meta property="og:site_name" content="Yayoi Ito" />
    <meta property="og:image" content="https://yoichan.github.io/portfolio/images/og_img.jpg" />

    <title>Yayoi Ito</title>
</head>

<body>
    <div class="content">

        <!-- ヘッダー -->
        <div id="header">
            <nav class="menu">
                <ul id="navi">
                    <li><a data-scroll href="#">Top</a></li>
                    <li><a data-scroll href="#works">Works</a></li>
                    <li><a data-scroll href="#about">About</a></li>
                    <li><a data-scroll href="#contact">Contact</a></li>

                </ul>
                <div class="nav_btn" id="nav_btn">
                    <span class="hamburger_line hamburger_line1"></span>
                    <span class="hamburger_line hamburger_line2"></span>
                    <span class="hamburger_line hamburger_line3"></span>
                </div>
                <div class="nav_bg" id="nav_bg"></div>
            </nav>
        </div>

        <!-- 本文 -->
        <header>
            <h1>Yayoi Ito</h1>
            <p>Engineer / Designer / Coder</p>
        </header>

        <div id="works"></div>
        <h2 id="works_header"><span>Works</span></h2>
        <div class="section">

            <h3>Designing</h3>
            <div class="items">

                <%for (let i = 0; i < designExhibits.length; i++) { %>
                <% var modal_id = "design_" + i %>

                <div class="exhibit item">
                    <div class="frame">
                        <a href="#<%- modal_id %>" class="inline">
                            <img src="<%- designExhibits[i].image_path %>" alt="<%- designExhibits[i].image_alt %>">
                        </a>
                    </div>
                    <p><%- designExhibits[i].title %></p>
                </div>

                <%- include('./_modal', {modal_id: modal_id, exhibit: designExhibits[i]}); %>
                <% } %>
            </div>

            <h3>Engineering</h3>
            <div class="items">

                <%for (let i = 0; i < engineerExhibits.length; i++) { %>
                <% var modal_id = "engineer_" + i %>

                <div class="exhibit item">
                    <div class="frame">
                        <a href="#<%- modal_id %>" class="inline">
                            <img src="<%- engineerExhibits[i].image_path %>" alt="<%- engineerExhibits[i].image_alt %>">
                        </a>
                    </div>
                    <p><%- engineerExhibits[i].title %></p>
                </div>

                <%- include('./_modal', {modal_id: modal_id, exhibit: engineerExhibits[i]}); %>
                <% } %>

            </div>
            <h3>Others</h3>
            <div class="items">

                <%for (let i = 0; i < otherExhibits.length; i++) { %>
                <% var modal_id = "other_" + i %>

                <div class="exhibit item">
                    <div class="frame">
                        <a href="#<%- modal_id %>" class="inline">
                            <img src="<%- otherExhibits[i].image_path %>" alt="<%- otherExhibits[i].image_alt %>">
                        </a>
                    </div>
                    <p><%- otherExhibits[i].title %></p>
                </div>

                <%- include('./_modal', {modal_id: modal_id, exhibit: otherExhibits[i]}); %>
                <% } %>

            </div>
        </div>
        <div id="about"></div>
        <h2 id="about_header"><span>About</span></h2>
        <div class="section">
            <div class="profile">
                <div>
                    <img src="images/profile.jpg" alt="" srcset="">
                </div>
                <div>
                    <p>伊藤 弥生 ( YAYOI ITO )</p>
                    <p>
                        フリーランスでWeb制作をしております。<br>
                        エンジニアとしての経験を活かして、本当に必要なものは何かをお客様と一緒に考えながら、制作に携わることを心がけています。
                    </p>
                    <p>
                        - 2010年よりITエンジニアとして３社でシステムの開発・運用・保守業務に当たる<br>
                        - 2020年よりWebデザイナーとしての活動を始める
                    </p>
                </div>
            </div>
            <h3>Topics</h3>
            <div class="items">

                <%for (let i = 0; i < topics.length; i++) { %>
                <% var modal_id = "topic_" + i %>

                <div class="exhibit item">
                    <div class="frame">
                        <a href="#<%- modal_id %>" class="inline">
                            <img src="<%- topics[i].image_path %>" alt="<%- topics[i].image_alt %>">
                        </a>
                    </div>
                    <p><%- topics[i].title %></p>
                </div>

                <%- include('./_modal_topic', {modal_id: modal_id, exhibit: topics[i]}); %>

                <% } %>

            </div>
            <div class="access">
                <div>
                    <h3>Tweets</h3>
                    <div class="item">
                        <a class="twitter-timeline" data-width="300" data-height="500" data-theme="light"
                            href="https://twitter.com/takerin_77?ref_src=twsrc%5Etfw">Tweets by takerin_77</a>
                        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                    </div>
                </div>
                <div>
                    <h3 id="contact">Contact</h3>
                    <div class="item">
                        ご連絡はこちらへお願いします。<br>
                        <a href="mailto:yayoi.t.ito@gmail.com">yayoi.t.ito@gmail.com</a>
                    </div>
                </div>
            </div>
        </div>

        <footer>
            © 2020 Yayoi Ito
        </footer>
    </div>

    <script>

        /* SP menu */
        function toggleNav() {
            var body = document.body;
            var hamburger = document.getElementById('nav_btn');
            var blackBg = document.getElementById('nav_bg');
            var navi = document.getElementById('navi');

            hamburger.addEventListener('click', function () {
                body.classList.toggle('nav_open'); //メニュークリックでnav-openというクラスがbodyに付与
            });
            blackBg.addEventListener('click', function () {
                body.classList.remove('nav_open'); //もう一度クリックで解除
            });
            navi.addEventListener('click', function () {
                body.classList.remove('nav_open'); //もう一度クリックで解除
            });
        }
        toggleNav();
    </script>
</body>

</html>